.DS_Store
.env
.idea
.vagrant
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
package-lock.json
Vagrantfile
vendor/
composer.lock
public/themes/wordplate/assets/mix-manifest.json
public/uploads/
