// Full page Layout
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
    // Button overrides
    .btn {
        text-transform: uppercase;
        font-size: 1em;
        line-height: 1.5rem;
        font-weight: $font-weight-bold;
        
        &.btn-lg {
            border-width: 2px;
        }
    }

    .pad-anchor {
        &::before {
            content: " ";
            margin-top: -100px;
            display: block;
            height: 100px;
        }
    }

    * { 
        text-rendering: unset;
    }

    .pointer {
        cursor: pointer;
    }
}

body {
    height: 100%;

    #app {
        height: auto !important;
        min-height: 100%;
        overflow-x: initial;

        .site-wrapper {
            display: flex;
            flex-direction: column;

            .headshot {
                img {
                    width: 180px;
                    height: 180px;
                    margin-top:-90px;
                    position: relative;
                    z-index: 3;

                    @media screen and (min-width: 768px){
                        width: 220px;
                        height: 220px;
                        margin-top:-110px;
                    }
                }
            }
            
            main {
                background-color: $white;
                flex-grow: 1;
            }
            
            &.full-height { 
                height: 100vh;
            }
        }

    }

}

#app .top {
    transition: all .5s linear;
    position: relative;
    z-index: 6;
    position: fixed;
    width: 100%;
    background-color: $white;
    box-shadow: 0 0 .5rem rgba(0,0,0,.2);

    .logo {
        color: $dark;
        justify-content: center;
        padding: 1rem 0;
        margin: 0 auto;
    }

    .contact-nav {
        display: flex;
        justify-content: center;

        @media screen and (min-width: 576px){
            justify-content: flex-end;
        }

        a {
            display: inline-block;
            padding: .5rem;
            margin: 0 .5rem 0 0;
            background-color: $primary;
            font-size: 1rem;
            color: $white;

            @media screen and (min-width: 993px) {
                color: $primary;
                background-color: transparent;
            }
        }
    }

    .topnav {
        height: 100%;

        a.nav-link {
            color: $dark;
            padding: .25rem .75rem;

            &:hover {
                background-color: rgba(0,0,0,.25);
                border-radius: .25rem;
            }
        }
        .dropdown-menu {
            border: 0;
            border-top: .5rem solid $secondary;
            margin-top: -1px;
            border-radius: 0;
            padding: 0;
            background-color: $dark;
            width: 230px;

            a.dropdown-item {
                color: #FFF;
                background-color: transparent;
                padding: 1rem;

                &:hover {
                    color: $primary;
                    background-color: $dark !important;
                }
            }
        }
    }
}

// Navigation
ul.navbar-nav {
    list-style: none;
    display: flex;

    li {
        a {
            padding: .5rem;
            color: $dark;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 600;
            font-size: 13px;
            transition: all .5s linear;
        }
    }
}

.mobile-menu-open,
.scrolling {
    .top {
        .topnav {
            list-style: none;
            display: flex;

        }

    }

    .mobile-menu {
        background: $primary;
    }
}



.quick-search {
    text-align: left;

    select {
        min-width: 210px;
        box-shadow: 0 0 1rem rgba(0,0,0,.1);
    }

    .btn {
        box-shadow: 0 0 1rem rgba(0,0,0,.1);
    }

    .text-shadow {
        text-shadow: 0 0 1rem rgba(0,0,0,.75);
    }
}

// Body Content
main {
    position: relative;

    article {
        padding: 2rem 0 1rem;
        text-align: left;
        background-color: #FFF;

        header {
            padding-top: 3rem;
            margin-bottom: 1rem;
        }

        p, ul, ol {
            line-height: 1.8em;
        }

        h2 {
            margin-top: 3rem;
            margin-bottom: 1rem;
            font-weight: 400;
            text-transform: capitalize;
        }
    }
}

.status-update {
    a {
        color: $white;
    }
}

// Support Content
.header-image {
    background-color: $dark;
    background-size: cover;
    background-position: center;
    min-height: 150px;
    overflow: hidden;

    .overlay {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
}

.slider-container,
.main-header-image {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    z-index: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    // @media screen and (min-width: 1024px){
    //     min-height: 550px;
    // }


    .overlay {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 1;
        height:100%;
        width: 100%;
    }

    .overlay-content {
        position: relative;
        z-index: 2;
        justify-content: center;
        text-align: center;

        h2 {
            color: $white;
            font-size: 2rem;
            line-height: 2rem;
            margin: 0;
            padding: 1rem 0 0;
            text-shadow: 0 0 1rem rgba(0,0,0,.1);

            @media screen and (min-width: 768px){
                font-size: 3rem;
                line-height: 3rem;
            }
        }
    }
}

.slider-container {
    position: fixed;
    z-index: 0;
    height: 100%;
    width: 100%;

    .slider-left, .slider-right {
        display: none;
    }
}

.VideoBg {
    position: fixed !important;
}
 
.section-button {
    padding: 0 1rem 3rem;
    @media (min-width: 576px){
        padding: 0 1rem 4rem;
    }
    @media (min-width: 768px){
        padding: 1rem 1rem 5rem;
    }
}

.section-title {
    padding: 3rem 1rem 1rem;
    @media (min-width: 576px){
        padding: 4rem 1rem 0;
    }
    @media (min-width: 768px){
        padding: 5rem 1rem 1rem;
    }
}

//Featured Listings
.featured-listings-section {
    position: relative;
    background-color: rgba(0,0,0,.75);
}

// Feature Box Section
.feature-box-section {
    position: relative;
    background-color: rgba(255,255,255,.9);

    @media (min-width: 576px){
        padding: 2rem 1rem;
    }

    .feature-box {
        padding: 2rem;
        background-size: cover;
        background-position: center;
        overflow: hidden;

        @media (min-width: 768px){
            padding: 3rem;
        }

        .box-content {
            position: relative;
            z-index: 1;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;

            @media (min-width: 768px){
                top: 2rem;
                left: 2rem;
                right: 2rem;
                bottom: 2rem;
            }
        }

        h2, h3 {
            margin-bottom: 1rem;

            @media (min-width: 768px){
                margin-bottom: 2rem;
                font-size: 2em;
            }
            @media (min-width: 992px){
                font-size: 2.4em;
            }
        }

        p {
            margin-bottom: 1rem;

            @media (min-width: 768px){
                margin-bottom: 2rem;
            }

        }
    }

    .box-container {
        padding: 0;
        @media (min-width: 576px){
            padding: 1rem ;
        }
        @media (min-width: 768px){
            padding: 2rem;
        }
    }
}

article h2,
.short-underline {
    text-transform: uppercase;

    &::after {
        content: " ";
        display: block;
        width:24px;
        height: 3px;
        background-color: #FFF;
        margin: 5px 0;
    }
}

// Testimonials
.testimonials {
    .testimonial {
        padding-top: 2.75rem;

        &.list {
            padding-bottom: 2rem;
            border-bottom: 1px solid $light;
        }

        &:last-child {
            border: none;
        }

        &.single .author,
        .testimonial-date {
            color: $light;
            text-transform: uppercase;
        }

        &.single {
            padding-top: 3.5rem;

            p {
                font-weight: 600;
                line-height: 1.8em;
            }
            .author {
                padding: 1.5rem 0 1rem;
                font-size: .9em;
                font-weight: 400;
            }
        }
    }
}

// Footer
footer {
    color: #FFF;
    border-top: 5px solid $primary;
    position: relative;

    a {
        color: #FFF;

        &:hover {
            text-decoration: underline;
            color: #FFF;
        }
    }

    h4 {
        margin: 1rem 0 0;
        padding: 1rem 0;
        text-transform: uppercase;
        font-size: 14px;
    }

    .footer-menu {
        margin: 0;
        padding: 1rem 0;

        .nav-item {
            list-style: none;
            margin: 1.25rem 0;

            a {
                font-weight: 600;
                font-size: 14px;
                padding: 10px 0;
                text-transform: uppercase;
                display: inline-block;
                border-bottom: 1px solid transparent;
                transition: border-color .5s linear; 

                &:hover {
                    color: #FFF;
                    border-color: rgba(255,255,255,.5);
                }
            }
        }
    }

    .contact-form {
        @media (min-width: 768px){
            padding: 1rem;

            .form-group {
                padding-bottom: .75rem;
            }
        }
    }

    .social-icons {
        margin: 0 -.25rem;
        
        svg {

            path: {
                fill: transparent !important;
                stroke: #FFF !important;
                stroke-width: 2px;
            }
        }
    }

    .broker-logo {
        padding: 3rem 0;

        img {
            max-width: 150px;
        } 
    }
    
    .copyright {
        color: #FFF;
        font-size: 12px;
        margin: 0;
        line-height: 1.5rem;
    }

    hr {
        border-color: #555;
    }

    .siteby {
        display: inline-block;
        padding: 0 1rem;
    }
}

.card-columns {
    @include media-breakpoint-only(sm) {
        column-count: 1;
    }
    @include media-breakpoint-only(md) {
        column-count: 2;
    }
    @include media-breakpoint-only(lg) {
        column-count: 3;
    }
}

.container-wide {
    padding: 0 30px;

    @media screen and (min-width: 1400px) {
        width: 100%;
        max-width: 1920px;
        padding: 0 60px;
        margin: 0 auto;
    }
}

#app {
    .listing {
        height: 100%;
        box-shadow: 0 0 1rem rgba(0,0,0,.1);

        .status-flag {
            color: $white;
            background-color: $info;
            position: absolute;
            z-index: 4;
            font-size: .9em;
            padding: .25rem .5rem;
            margin-top: .5rem;
            transform: skew(-8deg);
            margin-left: -.5rem;
            box-shadow: 0 0 .5rem rgba(0,0,0,.3);
        }
        .main-image {
            background-size: cover !important;
            border-bottom: 1px solid #dedede;
        }
        .listing-link {
            left: 0; right: 0; bottom: 0; top: 0;
            z-index: 5;

            &:hover {
                border-bottom: .25rem $primary solid;
            }
        }

        .mls-number {
            color: rgba(0,0,0,.4);
            font-size: .8rem;
        }
    }

    .sort-form,
    .search-bar {
        select, .btn {
            box-shadow: 0 0 1rem rgba(0,0,0,.1);
        }
    }

    .pager {
        nav {
            box-shadow: 0 0 1rem rgba(0,0,0,.1);
        }
    }

    .listing-detail {
        box-shadow: 0 0 1rem rgba(0,0,0,.1);
        height:100%;
    }

    .VueCarousel-navigation-button {
        &.VueCarousel-navigation-prev {
            padding-right: 0 !important;
        }

        &.VueCarousel-navigation-next {
            padding-left: 0 !important;
        }
    }
}